<nb-card-header>
  <nb-select [selected]="selectedCurrency" (selectedChange)="changeCurrency($event)">
    <nb-option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</nb-option>
  </nb-select>
</nb-card-header>
<nb-card-body>
  <div class="chart-info">
    <div>Today's Prediction</div>
    <div class="h6">{{ predictionLiveUpdateCardData.todayPredictionsymptomValue | ngxNumberWithCommas }}</div>
    <div class="delta"
         [class.up]="predictionLiveUpdateCardData.up"
         [class.down]="!predictionLiveUpdateCardData.up">
      <nb-icon [icon]="predictionLiveUpdateCardData.up ? 'arrow-up' : 'arrow-down'"
               pack="eva"
               class="direction">
      </nb-icon>
      {{ predictionLiveUpdateCardData.variation }}%
    </div>
  </div>
  <ngx-earning-live-update-chart
    [liveUpdateChartData]="liveUpdateChartData">
  </ngx-earning-live-update-chart>
</nb-card-body>
